<div class="widget sponsors">
  <h3>Patrocinadores</h3>
  <%= (link_to image_tag("Google_Logo.png", :style => "margin:20px 0 20px 0;"), "http://www.google.com/jobs", :target => "_blank" ) %>
  <%= (link_to image_tag("LogoNeoris.png", :style => "margin:10px 0 40px 0;"), "http://www.neoris.com/", :target => "_blank" ) %>
  <%= (link_to image_tag("INNKU.png", :style => "margin-bottom:40px;"), "http://www.innku.com", :target => "_blank") %>
</div>
