<div class="widget sponsors">
  <h3>Patrocinadores</h3>
  <%= (link_to image_tag("INNKU.png"), "http://www.innku.com", :target => "_blank") %>
  <%= (link_to image_tag("nic.png", :id => "nic"), "http://www.nic.mx", :target => "_blank" ) %>
</div>
