fieldset { border: none; }
 
#team_details { 
    float: left;
    width: 250px; 
}
 
#members_details { 
    float: right;
    width: 240px;
}
 
textarea {		
    width: 250px; 
    height: 175px; 		 		
}

form { 
    float: left;
    border: 1px solid #ddd; 
    padding: 10px 5px 5px 15px!important; 
    width: 550px;
    
}

input, textarea { 		
    padding: 8px; 
    margin: 4px 0 15px 0; 
    background: #fff; 
    width: 220px; 
    font-size: 13px; 
    color: #333; 
    border: 1px #ddd solid;
    
    /* -- CSS3 Shadow - create a shadow around each input element -- */ 
    -webkit-box-shadow: 0px 0px 4px #aaa;
    -moz-box-shadow: 0px 0px 4px #aaa; 
    box-shadow: 0px 0px 4px #aaa;

    /* -- CSS3 Transition - define what the transition will be applied to (i.e. the background) -- */		
    -webkit-transition: background 0.3s linear;
}

input:hover, textarea:hover { 
    background: #eee; 
}

input.submit { 	
    width: 150px; 
    color: #eee; 
    float: right;
    text-transform: uppercase; 
    margin-top: 10px;
    background-color: #18a5cc;
    border: none;

    /* -- CSS3 Transition - define which property to animate (i.e. the shadow)  -- */
    -webkit-transition: -webkit-box-shadow 0.3s linear;

    /* -- CSS3 Shadow - create a shadow around each input element -- */ 
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#18a5cc), to(#0a85a8)); 
    background:  -moz-linear-gradient(25% 75% 90deg,#0a85a8, #18a5cc); 

    /* -- CSS3 - Rounded Corners -- */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px; 
    border-radius: 4px;
}
input.submit:hover { 		
    -webkit-box-shadow: 0px 0px 20px #555;
    -moz-box-shadow: 0px 0px 20px #aaa; 
    box-shadow: 0px 0px 20px #555;		
    cursor:  pointer; 
}
