<!DOCTYPE html>
<html>
<head>
  <title>HackathonACM</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="El capítulo estudiantil ACM-MTY trae para ti el segundo hackaton en la historia del Tecnológico de Monterrey">
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
  <link rel="shortcut icon" href="images/favicon.ico" />
</head>
<body>

<%= yield %>

<footer>
<p>Un proyecto de ACM Monterrey</p>
</footer>
</body>
</html>
