<!DOCTYPE html>
<html>
<head>
  <title>ACM Monterrey Hackathon 2011</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="Back to the hacKING. ACM Hackathon 2011 - 22 de octubre. Tec de Monterrey">
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
  <link rel="shortcut icon" href="public/favicon.ico" />
</head>
<body>

<%= yield %>

<footer>
<p>ACM Monterrey - 2011</p>
</footer>
</body>
</html>
